@use './partials/variables' as *;
@use "./partials/variables" as *;
@use './partials/typography' as *;
@use './partials/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: $primary-nav;
  height: 5rem;

  &__anchor {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  &__logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    padding: 0;
    color: $text-label;
  }

  &__nav-ul li {
    position: relative;
    font-family: $font-regular;
    @include H4;
    width: 10rem;
    text-align: center;
    display: inline-block;
  }

  &__link:after {
    content: "";
    display: block;
    border-bottom: 0.25rem solid white;
    width: 10rem;
    position: absolute;
    top: 1.3125rem;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }
}
