@use './variables' as *;

@mixin H4 {
  font-size: $H4-text;
  line-height: $H4-line-height;
}

@mixin body-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

@mixin H2 {
  font-size: $H2-text;
  line-height: $H2-line-height;
}
