@use './variables' as *;

@mixin body-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

@mixin H1 {
  font-size: $H1-text;
  line-height: $H1-line-height;
}

@mixin H2 {
  font-size: $H2-text;
  line-height: $H2-line-height;
}

@mixin H4 {
  font-size: $H4-text;
  line-height: $H4-line-height;
}

@mixin H4-2 {
  font-size: $H4-text-2;
  line-height: $H4-line-height-2;
}

@mixin H5 {
  font-size: $H5-text;
  line-height: $H5-line-height;
}
