@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf")
    format("woff2");
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf")
    format("woff2");
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../../assets/Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf")
    format("woff2");
}
