// Colors
$primary-nav: #323232;
$text-label: #afafaf;

// Font-size
$H4-text: 0.8125rem;
$H4-line-height: 1.125rem;

// Typography
$font-regular: "AvenirNextLTPro-regular";
$font-demi: "AvenirNextLTPro-Demi";
