@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../assets/Fonts/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Fonts/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Fonts/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #323232;
}

.header {
  background-color: #323232;
  height: 5rem;
}
@media (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__logo {
  padding-top: 1rem;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .header__logo {
    padding-top: 0;
    margin-left: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-left: 6.25rem;
  }
}
@media (min-width: 768px) {
  .header__nav {
    margin-left: 4rem;
    margin-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    margin-left: 3.5rem;
  }
}
.header__nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  margin: 0 auto;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .header__nav-ul {
    padding-top: 0;
  }
}
.header__nav-ul-li {
  text-align: center;
  width: 50vw;
}
@media (min-width: 768px) {
  .header__nav-ul-li {
    width: 10rem;
  }
}
@media (min-width: 1280px) {
  .header__nav-ul-li {
    width: 0;
  }
}
.header a {
  text-decoration: none;
  color: #afafaf;
}
.header .link {
  width: 50vw;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 0.45rem;
}
@media (min-width: 768px) {
  .header .link {
    width: 4.5rem;
    padding-bottom: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .header .link {
    width: 5rem;
  }
}
.header .link a {
  color: #ffffff;
}

@media (min-width: 1280px) {
  .link-2 {
    margin-left: 3.5rem;
  }
}

.hero {
  background-image: url("../assets/Images/hero.jpg");
  height: 57.2vw;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero {
    height: 52vw;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 52.4vw;
  }
}
.hero::after {
  content: "";
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  width: 100%;
  height: 57.2vw;
  z-index: -1;
}
@media (min-width: 768px) {
  .hero::after {
    height: 52vw;
  }
}
@media (min-width: 1280px) {
  .hero::after {
    height: 52.4vw;
  }
}
.hero__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  color: #ffffff;
  font-family: "AvenirNextLTPro-Demi";
  margin-left: 1rem;
  width: 12.5rem;
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.5rem;
    width: 75%;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    margin-left: 6.25rem;
    width: 50%;
  }
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-bottom: 3rem;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "AvenirNextLTPro-Bold";
  color: #323232;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .section__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .section__header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.section__hero {
  width: 100%;
}
@media (min-width: 768px) {
  .section__hero {
    height: 47.2vw;
  }
}
@media (min-width: 1280px) {
  .section__hero {
    margin: 0 auto;
    height: 53vh;
    width: 70vw;
  }
}
.section__desc {
  font-family: "AvenirNextLTPro-Demi";
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .section__desc {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextLTPro-Bold";
  }
}
@media (min-width: 1280px) {
  .section__desc {
    margin-top: 3rem;
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }
}
.section__author {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  .section__author {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .section__author {
    margin-bottom: 2.25rem;
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }
}

@media (min-width: 768px) {
  .articles__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .articles__container {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }
}

.articles__header {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  font-family: "AvenirNextLTPro-Demi";
}
@media (min-width: 768px) {
  .articles__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextLTPro-Bold";
  }
}
@media (min-width: 1280px) {
  .articles__header {
    margin-bottom: 2rem;
    padding-right: 5.5rem;
    padding-left: 5.5rem;
  }
}

.articles__article {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}
@media (min-width: 768px) {
  .articles__article {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .articles__article {
    margin-right: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 768px) {
  .articles__article:last-of-type {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
  }
}

.gallery__heading {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fafafa;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    padding-bottom: 1rem;
  }
}
.gallery__images {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__images {
    width: calc(33.33% - (1.5rem * 2 / 3));
    margin: 0 1.5rem 1.5rem 0;
  }
  .gallery__images:nth-child(3n) {
    margin-right: 0;
  }
}

.comment {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .comment {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    margin: 0;
  }
}
.comment__header {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .comment__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  .comment__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }
}

.comment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__img {
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1.2rem;
  background-color: #e1e1e1;
}
@media (min-width: 1280px) {
  .comment__img {
    margin-right: 1.25rem;
    height: 48px;
    width: 48px;
    margin-top: 1.7rem;
  }
}

.comment__name {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "AvenirNextLTPro-Regular";
  color: #afafaf;
  font-weight: bold;
}
@media (min-width: 1280px) {
  .comment__name {
    margin-bottom: 0.5rem;
  }
}

.comment__comment {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "AvenirNextLTPro-Regular";
  color: #afafaf;
  font-weight: bold;
  margin-top: 1rem;
}
@media (min-width: 1280px) {
  .comment__comment {
    margin-top: 1.5rem;
  }
}

#comment__name {
  width: 224px;
  height: 50px;
  padding-left: 0.75rem;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
          box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 0.75rem;
  line-height: 1.25rem;
  background-color: #fafafa;
}
#comment__name:focus {
  border-radius: 2px;
  border: 2px solid black;
  outline: none;
  -webkit-box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
          box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
  #comment__name {
    width: 460px;
  }
}
@media (min-width: 1280px) {
  #comment__name {
    height: 3rem;
    padding-left: 1rem;
  }
}

#comment__comment {
  width: 224px;
  height: 100px;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
          box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding-left: 0.75rem;
  padding-bottom: 3.8rem;
  background-color: #fafafa;
}
#comment__comment:focus {
  border-radius: 2px;
  border: 2px solid black;
  outline: none;
  -webkit-box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
          box-shadow: 0px 40px 32px -4px rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
  #comment__comment {
    width: 460px;
  }
}
@media (min-width: 1280px) {
  #comment__comment {
    padding-left: 1rem;
    height: 96px;
  }
}

.comment__button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 224px;
  height: 50px;
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNextLTPro-Regular";
  font-weight: bold;
  border-radius: 4px;
  border: none;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.comment__button:hover {
  background-color: black;
  outline: none;
  border: none;
}
@media (min-width: 768px) {
  .comment__button {
    margin-left: auto;
    width: 160px;
  }
}
@media (min-width: 1280px) {
  .comment__button {
    width: 160px;
    height: 48px;
    margin-top: 1.5rem;
  }
  .comment__button:hover {
    background-color: black;
  }
}

.solid {
  border-top: 1px solid #e1e1e1;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .solid {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}
@media (min-width: 1280px) {
  .solid {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    width: 528px;
    margin: 0 auto;
  }
}

.commented__container {
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .commented__container {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}
@media (min-width: 1280px) {
  .commented__container {
    width: 528px;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

.commented__wrapper-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
@media (min-width: 1280px) {
  .commented__wrapper-left:first-child {
    margin-top: 0;
  }
}

.commented__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .commented__wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .commented__wrapper {
    margin-left: 0;
  }
}

.commented__wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .commented__wrapper-top {
    margin-bottom: 0;
  }
}

.commented__name {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "AvenirNextLTPro-Demi";
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .commented__name {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.commented__date {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: "AvenirNextLTPro-Regular";
  color: #afafaf;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .commented__date {
    margin-left: 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-left: auto;
  }
}

.commented__comment {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "AvenirNextLTPro-Regular";
  color: #323232;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .commented__comment {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.commented__img,
.commented__avatar {
  border: none;
  outline: none;
  margin-top: 0;
}
@media (min-width: 1280px) {
  .commented__img,
.commented__avatar {
    margin-right: 1rem;
  }
}

.solid-inner {
  border-top: 1px solid #e1e1e1;
  margin: 0;
}
@media (min-width: 768px) {
  .solid-inner {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1280px) {
  .solid-inner {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    width: 528px;
    margin: 0 auto;
  }
}

.footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #323232;
  margin-top: 2.5rem;
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
.footer__header {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #ffffff;
  padding-top: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__header {
    visibility: visible;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.social {
  margin-top: 1.5rem;
  margin-left: 0.25rem;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
    margin-right: 9rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .social:nth-child(2) {
    margin-left: 4rem;
  }
}
.social__anchor {
  text-decoration: none;
}
.social__icon-mod {
  padding-left: 1.5rem;
}
@media (min-width: 768px) {
  .social__icon-mod {
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .social__icon-mod {
    padding: 0;
    margin-left: 2rem;
  }
}

.hidden {
  visibility: hidden;
}
@media (min-width: 768px) {
  .hidden {
    visibility: visible;
  }
}
@media (min-width: 1280px) {
  .hidden {
    height: 1.5rem;
    width: 7.5rem;
  }
}

@media (min-width: 1280px) {
  .logo-anchor {
    margin-left: auto;
  }
}

.contact {
  color: #ffffff;
  margin-top: 0;
}
@media (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .contact {
    margin-top: 3.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .contact__wrapper {
    margin-right: 4rem;
  }
}
.contact__name {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 768px) {
  .contact__name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.contact__company {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-top: 0;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 768px) {
  .contact__company {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .contact__company {
    margin-bottom: 1.5rem;
  }
}
.contact__address {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "AvenirNextLTPro-Regular";
  margin-bottom: 0;
  color: #afafaf;
}
@media (min-width: 768px) {
  .contact__address {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.contact__address-mod {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "AvenirNextLTPro-Regular";
  margin-top: 0;
  color: #afafaf;
}
@media (min-width: 768px) {
  .contact__address-mod {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.contact__email {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 768px) {
  .contact__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .contact__email {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 768px) {
  .mod {
    margin-right: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .mod {
    margin-right: 5rem;
  }
}

@media (min-width: 768px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.copyright {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-family: "AvenirNextLTPro-Regular";
  margin-bottom: 0;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.copyright-mod {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 768px) {
  .copyright-mod {
    margin-left: 0.2rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
/*# sourceMappingURL=main.css.map */