@use './partials/variables' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;
@use './partials/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: $primary;
}

// Header and Nav

.header {
  background-color: $primary;
  height: 5rem;

  @include tablet {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding-top: 1rem;
    display: block;
    margin: auto;

    @include tablet {
      padding-top: 0;
      margin-left: 1.75rem;
    }

    @include desktop {
      margin-left: 6.25rem;
    }
  }

  &__nav {
    @include tablet {
      margin-left: 4rem;
      margin-top: 2.25rem;
    }

    @include desktop {
      margin-left: 3.5rem;
    }
  }

  &__nav-ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    padding-top: 1rem;
    margin: 0 auto;
    font-family: $font-regular;
    @include H4M;

    @include tablet {
      padding-top: 0;
    }
  }

  &__nav-ul-li {
    text-align: center;
    width: 50vw;

    @include tablet {
      width: 10rem;
    }

    @include desktop {
      width: 0;
    }
  }
  & a {
    text-decoration: none;
    color: $text-label;
  }

  .link {
    width: 50vw;
    border-bottom: 4px solid #ffffff;
    padding-bottom: 0.45rem;

    @include tablet {
      width: 4.5rem;
      padding-bottom: 1.4rem;
    }

    @include desktop {
      width: 5rem;
    }

    & a {
      color: #ffffff;
    }
  }
}

.link-2 {
  width: 50vw;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 0.45rem;

  @include tablet {
    width: 4.5rem;
    padding-bottom: 1.4rem;
  }

  @include desktop {
    width: 5rem;
  }

  & a {
    color: #ffffff;
  }
  @include desktop {
    margin-left: 5.5rem;
  }
}

// Hero Img w/ Header

.hero {
  background-image: url("../assets/Images/cover-art.jpg");
  height: 55.6vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 1;

  @include tablet {
    height: 78.9vh;
  }

  @include desktop {
    height: 78.9vh;
  }

  &::after {
    content: "";
    background-color: rgba($color: $primary, $alpha: 0.5);
    position: absolute;
    width: 100%;
    height: 55.6vh;
    z-index: -1;

    @include tablet {
      height: 78.9vh;
    }

    @include desktop {
      height: 78.9vh;
    }
  }

  &__heading {
    @include H1D-2;
    margin: 0;
    color: #ffffff;
    font-family: $font-bold;
    margin-top: 1rem;
    margin-bottom: 4rem;

    @include tablet {
      @include H1D;
      width: 80%;
    }

    @include desktop {
      width: 90%;
      margin-bottom: 0;
      margin-right: 4rem;
      line-height: 5.25rem;
    }
  }

  &__heading-sub {
    @include H2M;
    margin: 0;
    color: #ffffff;
    font-family: $font-bold;
    margin-top: 4rem;

    @include tablet {
      @include H2D;
      margin-top: 6rem;
    }

    @include desktop {
      width: 60%;
      margin-top: 10rem;
      margin-bottom: 3rem;
    }
  }
}

.hero__container {
  margin-left: 1rem;
  margin-right: 1rem;

  @include tablet {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include desktop {
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }

  &-left {
    @include desktop {
      width: 50%;
      margin-left: 6.25rem;
    }
  }
  &-right {
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 1.5rem;
      margin-right: 6.25rem;
    }
  }
}

.iframe {
  width: 288px;
  height: 100px;

  @include tablet {
    width: 436px;
    height: 146px;
  }

  @include desktop {
    width: 436px;
    height: 146px;
  }
}

// Shows Container

.main {
  margin-left: 1rem;
  margin-right: 1rem;

  @include tablet {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include desktop {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}

.section__shows {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.shows-wrapper {
  @include desktop {
    margin-top: 3rem;
  }
}

.section__headers {
  display: none;
  @include tablet {
    display: inline-block;
  }
}

.headings {
  @include tablet {
    display: flex;
    flex-direction: row;
    font-family: $font-regular;
    color: $text-label;
    font-weight: bold;
    margin-top: 1rem;
    @include H3D;
    margin-top: 0;
  }

  &-mod {
    @include tablet {
      width: 24vw;
      margin-top: 0;
      margin-bottom: 0;
    }
    @include desktop {
      width: 16.8vw;
    }
  }
}

.shows {
  font-family: $font-bold;
  @include H1M;
  margin-top: 2rem;
  margin-bottom: 2.5rem;

  @include tablet {
    @include H2D;
  }

  @include desktop {
    @include H1D-2;
    margin-top: 3rem;
  }

  &__container-header {
    @include H5M;
    font-family: $font-regular;
    color: $text-label;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__container-info {
    @include H4M;
    font-family: $font-regular;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    &:nth-child(2) {
      font-family: $font-demi;
    }

    @include tablet {
      @include H3D;
      display: inline-block;
      width: 24vw;
    }

    @include desktop {
      width: 16.8vw;
    }
  }

  &__container-button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 3.125rem;
    background-color: $primary;
    color: #ffffff;
    font-family: $font-regular;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    @include H4M;

    &:hover {
      background-color: black;
      outline: none;
      border: none;
    }

    @include tablet {
      width: 10rem;
      margin: 0;
    }

    @include desktop {
      width: 160px;
      height: 48px;
      margin-top: 1.5rem;

      &:hover {
        background-color: black;
      }
    }
  }
}

.shows__container {
  @include tablet {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.shows__container-wrapper {
  border-bottom: 1px solid $break-color;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

// Footer Start

.footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: $primary;
  margin-top: 2.5rem;

  @include desktop {
    @include body-padding-D;
  }

  &__header {
    font-family: $font-bold;
    @include H1D-2;
    color: #ffffff;
    padding-top: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;

    @include tablet {
      visibility: visible;
      margin: 0;
      padding: 0;
    }
  }
}

.footer__wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.social {
  margin-top: 1.5rem;
  margin-left: 0.25rem;

  @include tablet {
    margin: 0;
    margin-right: 9rem;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  &:nth-child(2) {
    @include desktop {
      margin-left: 4rem;
    }
  }

  &__anchor {
    text-decoration: none;
  }

  &__icon-mod {
    padding-left: 1.5rem;

    @include tablet {
      margin-left: 1rem;
    }

    @include desktop {
      padding: 0;
      margin-left: 2rem;
    }
  }
}

.hidden {
  visibility: hidden;

  @include tablet {
    visibility: visible;
  }

  @include desktop {
    height: 1.5rem;
    width: 7.5rem;
  }
}

.logo-anchor {
  @include desktop {
    margin-left: auto;
  }
}

// Footer Social

.contact {
  color: #ffffff;
  margin-top: 0;

  @include tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  @include desktop {
    margin-top: 3.5rem;
    justify-content: flex-start;
  }

  &__wrapper {
    @include desktop {
      margin-right: 4rem;
    }
  }

  &__name {
    @include H4M-2;
    margin-bottom: 0;
    margin-top: 0;
    font-family: $font-regular;

    @include tablet {
      @include H3D;
    }
  }

  &__company {
    @include H4M-2;
    margin-top: 0;
    font-family: $font-regular;

    @include tablet {
      @include H3D;
    }

    @include desktop {
      margin-bottom: 1.5rem;
    }
  }

  &__address {
    @include H5M;
    font-family: $font-regular;
    margin-bottom: 0;
    color: $text-label;

    @include tablet {
      @include H4D;
    }
  }

  &__address-mod {
    @include H5M;
    font-family: $font-regular;
    margin-top: 0;
    color: $text-label;

    @include tablet {
      @include H4D;
    }
  }

  &__email {
    @include H5M;
    color: $text-label;
    font-family: $font-regular;

    @include tablet {
      @include H4D;
    }

    @include desktop {
      margin-bottom: 2.5rem;
    }
  }
}

.mod {
  @include tablet {
    margin-right: 2.5rem;
  }
  @include desktop {
    margin-right: 5rem;
  }
}

.copyright {
  @include tablet {
    display: flex;
  }
}

.copyright {
  @include H5M;
  color: $text-label;
  font-family: $font-regular;
  margin-bottom: 0;
  margin-top: 1.5rem;

  @include tablet {
    margin: 0;
    @include H4D;
  }
}

.copyright-mod {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
  @include H5M;
  color: $text-label;
  font-family: $font-regular;

  @include tablet {
    margin-left: 0.2rem;
    @include H4D;
  }
}
