@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../assets/Fonts/Linotype-AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Fonts/Linotype-AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Fonts/Linotype-AvenirNextLTPro-Regular.otf") format("opentype");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #323232;
}

.header {
  background-color: #323232;
  height: 5rem;
}
@media (min-width: 720px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__logo {
  padding-top: 1rem;
  display: block;
  margin: auto;
}
@media (min-width: 720px) {
  .header__logo {
    padding-top: 0;
    margin-left: 1.75rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin-left: 6.25rem;
  }
}
@media (min-width: 720px) {
  .header__nav {
    margin-left: 4rem;
    margin-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    margin-left: 3.5rem;
  }
}
.header__nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  margin: 0 auto;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 720px) {
  .header__nav-ul {
    padding-top: 0;
  }
}
.header__nav-ul-li {
  text-align: center;
  width: 50vw;
}
@media (min-width: 720px) {
  .header__nav-ul-li {
    width: 10rem;
  }
}
@media (min-width: 1280px) {
  .header__nav-ul-li {
    width: 0;
  }
}
.header a {
  text-decoration: none;
  color: #afafaf;
}
.header .link {
  width: 50vw;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 0.45rem;
}
@media (min-width: 720px) {
  .header .link {
    width: 4.5rem;
    padding-bottom: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .header .link {
    width: 5rem;
  }
}
.header .link a {
  color: #ffffff;
}

.link-2 {
  margin-left: 3.5rem;
}

.hero {
  background-image: url("../assets/Images/hero.jpg");
  height: 57.2vw;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}
@media (min-width: 720px) {
  .hero {
    height: 52vw;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 52.4vw;
  }
}
.hero::after {
  content: "";
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  width: 100%;
  height: 57.2vw;
  z-index: -1;
}
@media (min-width: 720px) {
  .hero::after {
    height: 52vw;
  }
}
@media (min-width: 1280px) {
  .hero::after {
    height: 52.4vw;
  }
}
.hero__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  color: #ffffff;
  font-family: "AvenirNextLTPro-Demi";
  margin-left: 1rem;
  width: 12.5rem;
}
@media (min-width: 720px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.5rem;
    width: 75%;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    margin-left: 6.25rem;
    width: 50%;
  }
}

.footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #323232;
  margin-top: 2.5rem;
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
.footer__header {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #ffffff;
  padding-top: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 720px) {
  .footer__header {
    visibility: visible;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 720px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.social {
  margin-top: 1.5rem;
  margin-left: 0.25rem;
}
@media (min-width: 720px) {
  .social {
    margin: 0;
    margin-right: 9rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .social:nth-child(2) {
    margin-left: 4rem;
  }
}
.social__anchor {
  text-decoration: none;
}
.social__icon-mod {
  padding-left: 1.5rem;
}
@media (min-width: 720px) {
  .social__icon-mod {
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .social__icon-mod {
    padding: 0;
    margin-left: 2rem;
  }
}

.hidden {
  visibility: hidden;
}
@media (min-width: 720px) {
  .hidden {
    visibility: visible;
  }
}
@media (min-width: 1280px) {
  .hidden {
    height: 1.5rem;
    width: 7.5rem;
  }
}

@media (min-width: 1280px) {
  .logo-anchor {
    margin-left: auto;
  }
}

.contact {
  color: #ffffff;
  margin-top: 0;
}
@media (min-width: 720px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .contact {
    margin-top: 3.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .contact__wrapper {
    margin-right: 4rem;
  }
}
.contact__name {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 720px) {
  .contact__name {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.contact__company {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-top: 0;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 720px) {
  .contact__company {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .contact__company {
    margin-bottom: 1.5rem;
  }
}
.contact__address {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "AvenirNextLTPro-Regular";
  margin-bottom: 0;
  color: #afafaf;
}
@media (min-width: 720px) {
  .contact__address {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.contact__address-mod {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "AvenirNextLTPro-Regular";
  margin-top: 0;
  color: #afafaf;
}
@media (min-width: 720px) {
  .contact__address-mod {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.contact__email {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 720px) {
  .contact__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .contact__email {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 720px) {
  .mod {
    margin-right: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .mod {
    margin-right: 5rem;
  }
}

@media (min-width: 720px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.copyright {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-family: "AvenirNextLTPro-Regular";
  margin-bottom: 0;
  margin-top: 1.5rem;
}
@media (min-width: 720px) {
  .copyright {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.copyright-mod {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  font-family: "AvenirNextLTPro-Regular";
}
@media (min-width: 720px) {
  .copyright-mod {
    margin-left: 0.2rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
/*# sourceMappingURL=shows.css.map */